<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="copy">
    <div class="card">
        <form id="product-category-filter-form" action="/" method="get">
            <select name="productCategory" id="product-category-filter"
                    th:attr="data-selected-category-id=${selectedCategory != null ? selectedCategory.getId() : 'null'}">
                <option value="all" th:selected="${selectedCategory == null}">--Choose a category--</option>
                <option th:each="category,iterStat : ${productCategories}"
                        th:value="${category.getId()}" th:text="${category.getName()}"
                        th:selected="${category.equals(selectedCategory)}">Category name</option>
            </select>
            <button type="button">Apply</button>
        </form>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4 product-node" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title" th:text="${prod.name}">Product name</h4>
                    <p class="card-text" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>