<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="copy">

    <div class="supplier-filtering">
        <form action="" method="get">
            <label for="supplier-filtering">Filter by supplier:</label>
            <select id="supplier-filtering" name="selected-supplier">
                <option>No filter</option>
                <option th:each="sup : ${suppliers}" th:value="${sup.getId()}" th:text="${sup.getName()}"
                    th:selected="${sup.getId() == selectedSupplierId}">Supplier</option>
            </select>
            <input type="submit" name="Filter">
        </form>
    </div>


    <div class="card">
        <div id="product-category-filter-form">
            <select name="product_category" id="product-category-filter"
                    th:attr="data-selected-category-id=${selectedCategory != null ? selectedCategory.getId() : 'null'}">
                <option value="all" th:selected="${selectedCategory == null}">--Choose a category--</option>
                <option th:each="category,iterStat : ${productCategories}"
                        th:value="${category.getId()}" th:text="${category.getName()}"
                        th:selected="${category.equals(selectedCategory)}">Category name</option>
            </select>
            <button type="button">Apply</button>
        </div>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4 product-card-view" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="product-image" src="http://placehold.it/400x250/000/fff" th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" />
                <div class="card-header">
                    <h4 class="card-title product-name" th:text="${prod.name}">Product name</h4>
                    <p class="card-text product-description" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead product-price" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <a class="btn btn-success" href="#">Add to cart</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>