<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="copy">
    <div class="d-inline-block shopping-cart-container">
        <div class="d-inline-block">
            <a class="fas fa-shopping-cart" href="/cart"></a>
        </div>
        <div class="d-inline-block" th:if="${order != null}">
            <span th:text="${order.getItemsTotal()}" class='badge badge-warning'> 5 </span>
        </div>
        <div class="d-inline-block" th:if="${order == null}" >
            <span class='badge badge-warning'> 0 </span>
        </div>

    </div>
    <div class="card" id="filters">
        <div id="supplier-filter" th:attr="data-current-id=${supplierId}">
            <select>
                <option value="" th:selected="${supplierId == ''}">Filter by supplier</option>
                <option th:each="sup : ${suppliers}" th:value="${sup.getId()}" th:text="${sup.getName()}"
                        th:selected="${supplierId != '' && Integer.parseInt(supplierId) == sup.getId()}">Supplier
                </option>
            </select>
        </div>
        <div class="d-inline-block" id="product-category-filter" th:attr="data-current-id=${categoryId}">
            <select>
                <option value="" th:selected="${categoryId == ''}">Filter by category</option>
                <option th:each="category,iterStat : ${productCategories}"
                        th:value="${category.getId()}" th:text="${category.getName()}"
                        th:selected="${categoryId != '' && Integer.parseInt(categoryId) == category.getId()}">
                    Category name
                </option>
            </select>
        </div>
        <div class="d-inline-block">
            <button class="btn btn-secondary">Apply</button>
        </div>
    </div>

    <div id="products" class="row">
        <div class="col col-sm-12 col-md-6 col-lg-4 product-card-view" th:each="prod,iterStat : ${products}">
            <div class="card">
                <img class="product-image" src="http://placehold.it/400x250/000/fff"
                     th:attr="src='/static/img/product_' + ${prod.id} + '.jpg'" alt="" height="250" width="350"/>
                <div class="card-header">
                    <h4 class="card-title product-name" th:text="${prod.name}">Product name</h4>
                    <p class="card-text product-description" th:text="${prod.description}">Product description... </p>
                </div>
                <div class="card-body">
                    <div class="card-text">
                        <p class="lead product-price" th:text="${prod.getPrice()}">100 USD</p>
                    </div>
                    <div class="card-text">
                        <button class="btn btn-success add-item" th:data-product-id="${prod.id}">Add to cart</button>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="registration-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="registration-modal-title" aria-hidden="true">
        <div class="modal-dialog modal-dialog-centered" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title" id="registration-modal-title">Registration</h5>
                    <button type="button" class="close modal-header-close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form id="registration-form">
                        <div class="form-group mb-3 input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="label-username">Username</span>
                            </div>
                            <input required minlength="4" type="text" class="form-control" id="registration-username" placeholder="Username" aria-describedby="label-username">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="label-password">Password</span>
                            </div>
                            <input required minlength="7" type="password" class="form-control" id="registration-password" placeholder="Password" aria-describedby="label-password">
                        </div>
                        <div class="form-group input-group">
                            <div class="input-group-prepend">
                                <span class="input-group-text" id="label-password-confirmation">Password</span>
                            </div>
                            <input required minlength="7" type="password" class="form-control" id="registration-password-confirmation" placeholder="Confirm password" aria-describedby="label-password-confirmation">
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn modal-footer-close" data-dismiss="modal">Close</button>
                    <button type="button" class="btn modal-footer-submit">Submit</button>
                </div>
            </div>
        </div>
    </div>

</div>

</body>
</html>