<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8" />
    <meta name="author" content="Codecool" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />

    <title>Under Construction</title>


    <!-- Bootstrap components -->
    <!-- Latest compiled and minified Jquery -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js"
            integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" crossorigin="anonymous"></script>

    <!--Latest compiled and minified Popper -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js"
            integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified JavaScript -->
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
            integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>

    <!-- Latest compiled and minified CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" rel="stylesheet"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <!-- End of Bootstrap components -->

    <link rel="stylesheet" type="text/css" href="/static/css/custom.css" />
    <link th:if="${'payment/payment.html' == page_path}" rel="stylesheet" type="text/css" href="/static/css/payment.css" />

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.12.1/css/all.min.css" integrity="sha256-mmgLkCYLUQbXn0B1SRqzHar6dCnv9oZFPEC1g1cwlkk=" crossorigin="anonymous" />

    <script th:if="${'product/index.html' == page_path}" src="/static/js/index.js" type="module" defer></script>
    <script th:if="${'checkout/checkout.html' == page_path}" src="/static/js/checkout.js" type="module" defer></script>
    <script th:if="${'cart/cart.html' == page_path}" src="/static/js/cart_page.js" type="module" defer></script>
    <script th:if="${'payment/payment.html' == page_path}" src="/static/js/payment.js" type="module" defer></script>
</head>

<body>

<div class="jumbotron text-center">
    <h1>Shamans' Shop</h1>
    <div th:if="${'product/index.html' == page_path}" id="jumbotron-button-container">
        <button type="button" class="btn" data-toggle="modal" data-target="#registration-modal">Register</button>
    </div>
</div>

<div th:replace="${page_path} :: copy"></div>

<div th:replace="footer.html :: copy"></div>
</body>
</html>