<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="copy">
    <div class="table">
        <table>
        <thead>
            <tr>
                <th></th>
                <th>Product name</th>
                <th></th>
                <th>Quantity</th>
                <th></th>
                <th>Price / quantity</th>
                <th>Total price</th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="line,iterStat : ${order.getCart()}" th:attr="id=${line.getProduct().getId()}">
                <td>
                    <img class="" src="http://placehold.it/100x100/000/fff" th:attr="src='/static/img/product_' + ${line.getProduct().getId()} + '.jpg'" alt="" height="100" weight="100"/>
                </td>
                <td th:text="${line.getProduct().getName()}">Product name</td>
                <td><button type="button" class="btn btn-info">-</button></td>
                <td th:text="${line.getQuantity()}">2</td>
                <td><button type="button" class="btn btn-info">+</button></td>
                <td th:text="${line.getProduct().getPrice()}">10.95 USD</td>
                <td th:text="${line.getQuantity() * line.getProduct().getRawPrice()}">21.90 USD</td>
            </tr>
        </tbody>
        </table>
        <div>
            <div>Subtotal:</div>
            <div th:text="${total_price}">21.90 USD</div>
        </div>
        <div class="btn-group">
            <button type="button" class="btn btn-info">Continue shopping</button>
            <button type="button" class="btn btn-submit">Checkout</button>
        </div>
    </div>
</div>
</body>
</html>