<!doctype html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<body>
<div class="container" th:fragment="copy">
    <div th:if="${order != null && order.getItemsTotal() != 0}">
    <div>
        <table class="table table-stripped bg-light w-100">
        <thead>
            <tr>
                <th></th>
                <th>Product name</th>
                <th>Quantity</th>
                <th>Unit price</th>
                <th>Total price</th>
            </tr>
        </thead>
        <tbody>
            <tr class="data-row" th:each="line,iterStat : ${order.getCart()}">
                <td>
                    <img class="" src="http://placehold.it/100x100/000/fff" th:attr="src='/static/img/product_' + ${line.getProduct().getId()} + '.jpg'" alt="" height="100" weight="100"/>
                </td>
                <td th:text="${line.getProduct().getName()}">Product name</td>
                <td th:text="${line.getQuantity()}" class="quantity" th:attr="data-product-id=${line.getProduct().getId()}">2</td>
                <td th:text="${line.getProduct().getPrice()}" class="price">10.95 USD</td>
                <td class="row-total" th:attr="data-row-total=${line.getProduct().getRawPrice()}, data-product-id=${line.getProduct().getId()}"
                    th:text="${#numbers.formatDecimal(line.getQuantity() * line.getProduct().getRawPrice(), 0, 2)} + ' USD'">21.90 USD</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
                <td></td>
                <td>
                    <div class="cart-subtotal">
                        <div>Subtotal:</div>
                        <div id="cart-value" th:text="${#numbers.formatDecimal(order.getPriceTotal(), 0, 2) + ' USD'}">21.90 USD</div>
                    </div>
                </td>
            </tr>
        </tbody>
        </table>
        <div>
            <a class="btn btn-info m-2" href="/">Continue shopping</a>
            <a class="btn btn-success m-2" href="/checkout">Checkout</a>
        </div>
    </div>
    </div>
    <div th:if="${order == null || order.getItemsTotal() == 0 }">
        <h1 class="text-white" >Your cart is empty</h1>
        <a class="btn btn-info m-2" href="/">Continue shopping</a>
    </div>
</div>
</body>
</html>